.profile-container {
    width: 100%;
    display: flex;
    cursor: pointer;
    padding: 0.5rem;
    position: relative;
    align-items: center;
    justify-content: end;
    box-sizing: border-box;
    
    .profile-name {
        font-weight: bold;
        margin-right: 0.5rem;
    }

    .profile-dropdown-container {
        position: relative;

        .profile-dropdown {
            right: 0;
            top: 100%;
            width: 10rem;
            z-index: 10000;
            position: absolute;
            border-radius: 0.25rem;
            border: 1px solid #ccc;
            background-color: #fff;
            box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);

            .profile-dropdown-item {
                padding: 0.5rem;
                cursor: pointer;
                font-size: small;
                border-bottom: 1px solid #eee;
                &:hover {
                    background-color: #d3d7e74d;
                }
            }
        }

    }
}