.hints-available {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    .hints-available-number {
        display: flex;
        min-width: 1rem;
        aspect-ratio: 1;
        padding: 0.25rem;
        min-height: 1rem;
        border-radius: 50%;
        align-items: center;
        line-height: 1.25rem;
        justify-content: center;
        background-color: #d3d7e7;
    }
    .hints-available-label {
        font-size: 0.75rem;
        span {
            display: block;
        }
    }
}